.rounded-container {
    background: linear-gradient(to bottom right, #871ed3, #6b16a9);
    border-radius: 100%;
    width: 200px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
  }
  .square {
    width: 58px;
    height: 58px;
    border-radius: 6px;
  }

  @keyframes roll-right {
    0% { transform: translateX(-100%) rotate(45deg); }
    100% { transform: rotate(45deg); }
  }
  
  @keyframes roll-left {
    0% { transform: translateX(100%) rotate(-45deg); }
    100% { transform: rotate(-45deg) translate(-6px, 12px); }
  }

  .white-border {
    border: 12px solid #ffffffb3;
    animation: roll-right 1s forwards;
  }
  
  .white-background {
    background-color: #ffffff;
    width: 76px;
    height: 76px;
    animation: roll-left 1s forwards;
  }

  .rotated {
    transform-origin: bottom left;
  }
  